html {
font-family: Roboto, Arial;
margin-right:0px;
background: url("images/mountainshighres.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    overflow:hidden;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;

}

.menu {
  position;
  top:0;
  height:10%;
  width:100%;
  font-weight: bold;

/*  animation:  duration timing-function delay iteration-count direction fill-mode;*/
}
.menu a {
  float:center;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 3% 5%;
  text-decoration: none;
 

}

/* Change background on mouse-over */
.menu a:hover {
  background: rgba(255, 255, 255, .1);
  color: #ddd;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
  font-family: Roboto;
  overflow: hidden;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  /*height: 100vh;*/
  width:100%;
  overflow: hidden;
  font-family: Roboto;
  margin:0px;
  border:0px;
}

.ParallaxContainer {
  overflow: hidden;
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -10;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
}





/* width */
::-webkit-scrollbar {
    width: 2%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #f2f2f200;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }