html {
font-family: Roboto;
margin-right:0px
}

body {
    overflow:hidden;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

.menu {
  position;
  top:0;
  background-color: #914bca;
  height:7.5%;
  width:100%;
}
.menu a {
  float:center;
  display: block;
  color: #ff0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.menu a:hover {
  background: #ddd;
  color: black;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
  font-family: Roboto;
  overflow-x: hidden;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Roboto;
  margin:0px;
}

.ParallaxContainer {
  overflow-x: hidden;
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -10;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
  background: url("images/space_bg.jpg");
  background-color: rgb(250,228, 216);
}





/* width */
::-webkit-scrollbar {
    width: 2%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #f2f2f200;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }